{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

<meta name="description" content="{% if article.brief %}{{ article.brief }}; {% endif %} Chords and playlist for the Jazz Standard {{ article.title }} by {% for composer in article.composer %}{{ composer }}{% if not loop.last %},{% endif %}{% endfor %}" />

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block page_title %}{{ article.title }}{% endblock %}

{% block extra_header %}
{% if article.brief %}
<h4 class="f3 fw1 georgia i">
  {{ article.brief }}
</h4>
{% endif %}

{% if article.composer %}
<h5 class="f6 ttu tracked near-black mv1">
  <span class="w4 dib">Composed by</span>
  {% for composer in article.composer %}
  <a href="{{ SITEURL }}/{{ composer.url }}" class="dark-blue">
    {{ composer }}{% if not loop.last %},{% endif %}
  </a>
  {% endfor %}
</h5>
{% endif %}

{% if article.year %}
<h5 class="f6 ttu tracked near-black mv1">
  <span class="w4 dib">Year</span>
  <a href="{{ SITEURL }}/{{ article.year.url }}" class="dark-blue">
    {{ article.year }}
  </a>
</h5>
{% endif %}

{% if article.length %}
<h5 class="f6 ttu tracked near-black mv1">
  <span class="w4 dib">Length</span>
  {{ article.length }} bars
</h5>
{% endif %}

{% if article.time %}
<h5 class="f6 ttu tracked near-black mv1">
  <span class="w4 dib">Time</span>
  <a href="{{ SITEURL }}/{{ article.time.url }}" class="dark-blue">
    {{ article.time }}
  </a>
  {% endif %}

  {% if article.form %}
  <h5 class="f6 ttu tracked near-black mv1">
    <span class="w4 dib">Form</span>
    <a href="{{ SITEURL }}/{{ article.form.url }}" class="dark-blue">
      {{ article.form }}
    </a>
  </h5>
  {% endif %}

  {% if article.style %}
  <h5 class="f6 ttu tracked near-black mv1">
    <span class="w4 dib">Style</span>
    <a href="{{ SITEURL }}/{{ article.style.url }}" class="dark-blue">
      {{ article.style }}
    </a>
  </h5>
  {% endif %}

  {% if article.key %}
  <h5 class="f6 ttu tracked near-black mv1">
    <span class="w4 dib">Common Key</span>
    {% for key in article.key %}
    <a href="{{ SITEURL }}/{{ key.url }}" class="dark-blue">
      {{ key }}{% if not loop.last %},{% endif %}
    </a>
    {% endfor %}
  </h5>
  {% endif %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}

  {% endblock %}

  {% block content %}
  <article class="f5 f4-ns lh-copy measure mb4">
      {% if article.chords %}
      <section>
        <h2 class="f2 bg-black-90 white sans-serif fw1">
          Chords
        </h2>
        <p class="f6 f5-ns lh-copy measure i mb4">
          <img src="{{ article.chords }}" alt="Chord chart for the jazz standard {{ article.title }}">
        </p>
      </section>
      {% endif %}
          {{ article.content }}

          {% if article.embed %}
          <section>
            <h2 class="f2 bg-black-90 white sans-serif fw1">
              Playlist
            </h2>
            {{ article.embed }}
          </section>
          {% endif %}

          {% endblock %}
