{% extends "base.html" %}

{% block page_title %}Standards{% endblock %}
{% block extra_header %}
      <h4 class="f3 fw1 georgia i">
        {% block content_subtitle %}A guide to the top 201 standards{% endblock %}
      </h4>
    {% import 'translations.html' as translations with context %}
{% endblock %}
{% block content %}

    <ol class="pa0 ma0">
      {% for article in articles_page.object_list %}
      <li class="f5 f3-ns lh-copy measure georgia">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}"
           class="dark-blue"
           >
          {{ article.title }}
        </a>
        {% if article.brief %}
        <p class="mv0">
          {{ article.brief }}
        </p>
        {% endif %}
      </li>
      {% endfor %}
    </ol><!-- /#posts-list -->

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}

{% endblock content %}
