{% extends "base.html" %}

{% block page_title %}{{ page.title }}{% endblock %}
{% block extra_header %}
      <h4 class="f3 fw1 georgia i">
        {% block content_subtitle %}
        Jazz Standards with lyrics suitable for singers
        {% endblock %}
      </h4>
    {% import 'translations.html' as translations with context %}
{% endblock %}
{% block content %}
<article class="f5 f4-ns lh-copy measure mb4">
    <ol class="pa0 ma0-ns ml4">
      {% for standard in songs_with_lyrics %}
      <li class="f3 f3-ns lh-copy measure georgia">
        <a href="{{ SITEURL }}/{{ standard.url }}" class="dark-blule">
          {{ standard.title }}
        </a>
      </li>
      {% endfor %}
    </ol>
</article>
{% endblock content %}
