{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ tag }} tag{% endblock %}

{% block page_title %}
{{ tag }} Songs
{% endblock %}
{% block extra_header %}

{% endblock %}
{% block content %}
 <ol class="pa0 ma0-ns ml4">
      {% for article in articles_page.object_list %}
      <li class="f3 f3-ns lh-copy measure georgia">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}"
           class="dark-blue"
           >
          {{ article.title }}
        </a>
        <!-- {% if article.brief %} -->
        <!-- <p class="mv0"> -->
        <!--   {{ article.brief }} -->
        <!-- </p> -->
        <!-- {% endif %} -->
      </li>
      {% endfor %}
    </ol><!-- /#posts-list -->
{% endblock %}
